{% extends "template.html" %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <script src="../static/script.js"> </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='addgrades.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>Add Grades</title>
</head>
{% endblock %}

    {% block content %}
    <section id = "sub1" class = "subsection">
        <h1 class = "main-title">ADD A GRADE</h1>
        <div class="card-container">
            <div id = "form" class="cards">
                <form id="remark_request_form" action ="/addgrades" method = "post">
                    <label for="Student Username">Student Username</label>
                    <select id="type" name="username" required>  
                        <option value="">Select Student</option>
                        {% for User in query_student_result %}
                        <option value="{{ User.username }}">{{ User.first }} {{ User.last }} - ({{ User.utorid }})</option>
                        {% endfor %}
                    </select>

                    <label for="Assignment Name">Assignemt Name</label>
                    <input type="text" id="assignment" name="assignment">
                    
                    <label for="Score">Score</label>
                    <input type="number" id="score" name="score">

                    <label for="Out of">Out of</label>
                    <input type="number" id="out_of" name="out_of">

                    <label for="Weighting">Weighting</label>
                    <input type="number" id="weighting" name="weighting">

                    <button type="submit">Add Grade</button>
                </form>            
            </div>
            
        </div>
    <!--
    
    id = db.Column(db.Integer, primary_key = True)
    assignmentName= db.Column(db.String(20), nullable = False)
    score = db.Column(db.REAL, nullable=False)
    out_of = db.Column(db.REAL, nullable=False)
    mark = db.Column(db.REAL, nullable=False)
    weighting = db.Column(db.REAL, nullable=False)
    student_username = db.Column(db.String(20), db.ForeignKey('User.username'), nullable = False)
    regrade = db.Column(db.Text, nullable=False)



    -->
    </section>
    {% endblock %}
