{% extends "template.html" %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
   

    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>Resources</title>
</head>
{% endblock %}

    {% block content %}
    <section id = "sub1" class = "subsection">
        <h1 class = "main-title">RESOURCES</h1>
        <div class="card-container">
            
            <div class="cards">
                <div class="content">
                    <h2>MarkUs</h2>
                    <h3>Assignment Submission Portal</h3>
                    <p>If you choose to work in groups for your assignments, remember to declare members and utorIDs before submitting.</p>
                    <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" class="button">Click Here for Markus Submission</a>
                </div>
            </div>
            <div class="cards">
                <div class="content">
                    <h2>Piazza</h2>
                    <h3>Ask and Answer Questions in a forum wiht everyone in the course</h3>
                    <p>A learning management system which allows students to ask questions in a forum-type format. Instructors are able to moderate the discussion, along with endorsing accurate answers.</p>
                    <a href="https://piazza.com/class/kxj5alixpjg4ft" class="button"> Click Here for Piazza Discussion Board </a>
                </div>
            </div>
        
        </div>
    </section>
    {% endblock %}
