{% extends "template.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
   

    <link rel="stylesheet" href="{{ url_for('static', filename='syllabus.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


    <title>Syllabus</title>
</head>

{% endblock %}
    {% block content %}
    <section id = "sub1" class = "subsection">
        <h1 class = "main-title">SYLLABUS</h1>
       <div class="container">
           <div class="colv">
                <div class="col-container">
                    <div class="card content">
                        <h2>Course Description</h2>
                        <p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; <br>Web servers and dynamic server-generated content; Web application development and interface with databases.</p>
                        </div>     
                    <div class="card content">
                        <h2>Full Syllabus</h2>
                        <a href="../sample/Sample.pdf"> Download Here</a>
                    </div>  
                    <div class="card content">
                        <h2>Getting Help</h2>
                        <p>Besides attending lectures, there are several ways to get help in CSCB20:</p>
                        <ol>
                            <li>Tutorials: Tutorials are a great way for you to get some hands-on practice at programming.</li>
                            <li>Office Hours: Stop by office hours to ask questions or to hear questions asked by other students. This is a great way to learn.</li>
                            <li>Discussion Board: Piazza - please make use of your classmates and instructors who will monitor the discussion board and help answer your questions.</li>
                            <li>Email: If you are having trouble with the course material or if you need extra help, please do not hesitate to contact me. I will answer as soon as possible.</li>
                        </ol>
                        
                    </div>  
                    
                </div>
            </div>
            <div class="col-container">
                <div class="card content">
                    <h2>Required Background</h2>
                    <p> Some experience with programming in an imperative language such as Python, Java, or C.</p>
                    <p>You may not take this course after - or concurrently with - any C- or D-level CSC course.</p>
                    <p><strong>Exclusion: </strong>CSC343H</p>
                </div>   
                <div class="card content">
                    <h2>Course Learning Outcomes</h2>
                    <p>Upon completion of this course, and of course with hard work and practice, you will:</p>
                    <ol>
                        <li>Learn the basic concepts and appreciate the applications of database systems.</li>
                        <li>Be familiar with the relational database theory and be able to write relational algebra.</li>
                        <li>Master the basics of SQL and construct queries using SQL.</li>
                        <li>Comprehend the fundamentals of web application development by building database 
                            backend  app  from  scratch,  using  HTML,  JavaScript,  micro  web  frameworks  like 
                            Python Flask, and other open-source tools.</li>
                    </ol>
                </div>    
                
           </div>
           
       </div>
    </section>
    {% endblock %}