{% extends "template.html" %}

{% block head %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assignments.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
   
    <title>Assignments</title>
</head>
{% endblock %}

    {% block content %}
   <section id = "sub1" class = "subsection">
        <h1 class = "main-title">ASSIGNMENTS</h1>    
        <div class="card-container">
            <div class="cards">
                <div class="content">
                    <h2>Assignment 1</h2>
                    <h3>Relational Algebra and SQL</h3>
                    <p>Due Date: February 17th, 11:59pm</p>
                    <a href="../sample/Sample.pdf" class="button"> Assignement Details</a>
                    <a href="../sample/Sample.pdf" class="button"> Sample Code</a>
                </div>
            </div>
            <div class="cards">
                <div class="content">
                    <h2>Assignment 2</h2>
                    <h3>HTML and CSS</h3>
                    <p>Due Date: March 17th, 11:59pm</p>
                    <a href="../sample/Sample.pdf" class="button"> Assignement Details</a>
                </div>
            </div>
            <div id = "item3" class="cards">
                <div class="content">
                    <h2>Assignment 3</h2>
                    <h3>Databases and Web Development</h3>
                    <p>Due Date: TBD</p>
                    <a href="#" class="button">Not Available</a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}