{% extends "template.html" %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='labs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>About</title>
</head>
{% endblock %}

    {% block content %}
    <section id = "sub1" class = "subsection">
        <h1 class = "main-title">LABS</h1>
        <div class="card-container">
            <div class="cards">
                <div class="content">
                    <h2>WEEK 2</h2>
                    <h3>Python, Command Line</h3>
             
                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>

                </div>
            </div>
            <div class="cards">
                <div class="content">
                    <h2>WEEK 3</h2>
                    <h3>Relational Algebra</h3>

                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>
                </div>
            </div>
            <div class="cards">
                <div class="content">
                    <h2>WEEK 4</h2>
                    <h3>Intro to mySQL</h3>
             
                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>
                </div>
            </div>
            <div class="cards">
                <div class="content">
                    <h2>WEEK 5</h2>
                    <h3>More mySQL Practice</h3>

                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>
                </div>
            </div>
            <div class="cards">
                <div class="content">
                    <h2>WEEK 6</h2>
                    <h3>Even More mySQL Practice</h3>

                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>
                </div>
            </div>
            <div class="cards">
                <div class="content">
                    <h2>WEEK 7</h2>
                    <h3>Python and Flask</h3>
                    
                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>
                </div>
            </div>
            <div class="cards">
                <div class="content">
                    <h2>WEEK 8</h2>
                    <h3>HTML & CSS</h3>
                    
                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>
                </div>
            </div>
            <!-- TBD Overlay -->
            <div class="cards">
                <div class="content">
                    <h2>WEEK 9</h2>
                    <h3>PHP</h3>
                    
                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>
                </div>
            </div>
            <div id = "item10" class="cards">
                <div class="content">
                    <h2>WEEK 10</h2>
                    <h3>jQuery</h3>
                  
                    <a href="../sample/Sample.pdf" class="button"> Content & Questions</a>
                    <a href="../sample/Sample.pdf" class="button"> Solutions</a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    