{% extends "template2.html" %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
   
    <title>REGISTER</title>
</head>
{% endblock %}

    {% block content %}
    <section id = "sub1" class = "subsection">
        <h1 class = "main-title">REGISTER</h1>
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div> {{ category }} - {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="card-container">
            <div id = "form" class="cards">
                <form action ="/register" method = "post">
                    <label for="first">First Name</label>
                    <input type="text" id="first" name="first" required> 

                    <label for="last">Last Name </label>
                    <input type="text" id="last" name="last" required>

                    <label for="username">Username</label>
                    <input type="text" id="Username_ID" name="Username" required>

                    <label for="utorid">Utorid</label>
                    <input type="text" id="utorid" name="utorid" required> 

                    <label for="Role">Role</label>
                  
                    <select id="type" name="Type" required>
                        <option value="">Select a Role</option>
                        <option value="student">Student</option>
                        <option value="instructor">Instructor</option>
                    </select>

                    
                    <label for="mail"> Email</label>
                    <input type="text" id="Email" name="Email" required>
        
                    <label for="Password">Password</label>
                    <input type="password" id="Password" name="Password" autocomplete="off" required>

            
                    <button type="submit">Create New Account</button>
                </form>            
            </div>
            
        </div>

    </section>   
    {% endblock %}