{% extends "template.html" %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='remark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
    <script src="../static/script.js"> </script>
   
    <title>Request Regrade</title>
</head>
{% endblock %}

    {% block content %}
    <section id = "sub1" class = "subsection">
        <h1 class = "main-title">REQUEST REGRADE</h1>
        <div class="card-container">
            <div id = "form" class="cards">
                <div id = "area" class="content">
                    <h2>Regrade Form</h2>
                    
                    <h3>Please choose the assessment for regrading and explain your reasoning. </h3>
                    <form id="remark_request_form" action ="http://127.0.0.1:5000/remark" method = "post">
                        <select id="type" name="assignment">  
                            <option value="invalid">Select Assignment for Regrading</option>
                            {% for Assessments in query_assessment_result %}
                            <option value="{{ Assessments.assignmentName }}">{{ Assessments.assignmentName }}</option>
                            {% endfor %}
                        </select>
                        <textarea id="review" placeholder="Type here" maxlength="600" name = "regrade"></textarea>
                        <button type="submit" >Send Regrade</button>
                    </form>
            
                </div>
                
            </div>
        </div>
    </section>   
    {% endblock %}