{% extends "template.html" %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


    <title>Team</title>
</head>
{% endblock %}

    {% block content %}
    <section id = "sub1" class = "subsection">
        <h1 class = "main-title">MEET THE TEAM</h1>
        <div class="card-container">
            <div class="cards">
                <div id = "num1" class="image pf"></div>
                <div class="content">
                    <h2>Dr. Purva R. Gawde</h2>
                    <h3>Professor</h3>
                    <p><a href="mailto:purva.gawde@utoronto.ca">Email Me</a></p>
                    
                </div>
            </div>
            <div class="cards">
                <div id = "num2" class="image pf"></div>
                <div class="content">
                    <h2>Daniel Zee</h2>
                    <h3>Teaching Assistant</h3>
                    <p><a href="mailto:daniell.zee@mail.utoronto.ca">Email Me</a></p>

                </div>
            </div>
            <div class="cards">
                <div id = "num3" class="image pf"></div>
                <div class="content">
                    <h2>Rick Lan</h2>
                    <h3>Teaching Assistant</h3>
                    <p><a href="mailto:qingyu.lan@mail.utoronto.ca">Email Me</a></p>

                </div>
            </div>
            <div class="cards">
                <div id = "num4" class="image pf"></div>
                <div class="content">
                    <h2>Vidya Ananda</h2>
                    <h3>Teaching Assistant</h3>
                    <p><a href="mailto:vidya.ananda@mail.utoronto.ca">Email Me</a></p>

                </div>
            </div>
            <div class="cards">
                <div id = "num5" class="image pf"></div>
                <div class="content">
                    <h2>Kevin Zhang</h2>
                    <h3>Teaching Assistant</h3>
                    <p><a href="mailto:kevin.zhang@mail.utoronto.ca">Email Me</a></p>
                </div>
            </div>
            <div class="cards">
                <div id = "num5" class="image pf"></div>
                <div class="content">
                    <h2>Add TA</h2>
                    <h3>Teaching Assistant</h3>
                    <p><a href="mailto:#">Email Me</a></p>
                    
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
   