{% block head %}{% endblock %}
<body>    
    <header>
        <nav class = "navsection">
            <h1 class = 'logo'>CSCB20</h1>
            <ul class = "items">
                {% if session.person %}
                <li><a href="{{ url_for('index') }}"> Home </a></li>
                <li><a href="{{ url_for('syllabus') }}"> Syllabus </a></li>
                <li><a href="{{ url_for('lectures') }}">Lectures</a></li>
                <li><a href="{{ url_for('labs') }}">Labs</a></li>
                <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
                <li><a href="{{ url_for('resources') }}">Resources</a></li>
                <li><a href="{{ url_for('team') }}">Team</a></li>
                
                {% if session.person[1] == 'student' %}
                <li><a href="{{ url_for('feedback') }}">Anon Feedback</a></li> 
                <li id = "special" ><a href="{{ url_for('grades') }}">My Grades</a></li>
                {% endif %}
                {% if session.person[1] == 'instructor' %}
                <li><a href="{{ url_for('viewfeedback') }}">View Feedback</a></li> 
                <li><a href="{{ url_for('instructRemark') }}">Remark Requests</a></li> 
                <li><a href="{{ url_for('studentGrades') }}">Class Grades</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
                <!--add dynamically or something-->
               
                
            </ul>
        </nav>  
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="f-container">
            <ul class = "fcol">
                <li><h2>CSCB20</h2></li>
                <li><a href="{{ url_for('index') }}"> Home </a></li>
                <li><a href="{{ url_for('syllabus') }}"> Syllabus </a></li>
                <li><a href="{{ url_for('lectures') }}">Lectures</a></li>
                <li><a href="{{ url_for('labs') }}">Labs</a></li>
            </ul>
            <ul class = "fcol">
                <li><h2 class = "hide">CSCB20</h2></li>
                <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
                <li><a href="{{ url_for('resources') }}">Resources</a></li>
                <li><a href="{{ url_for('team') }}">Team</a></li>
                <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
             </ul>
                
            </ul>
            <ul id = "authors" class = "fcol">
                <li><h2>Creators</h2></li>
                <li>Aarin Jasikumar</li>
                <li>Jacky Chun Ching Lam</li>
                <li>Alexander Chi-Hing Mark</li>
            </ul>
        </div>
        <a href="https://www.utsc.utoronto.ca/cms/computer-science-1"><img class = "largeview" src="{{ url_for('static', filename='images/schoollogo.png') }}"alt="school logo"></a>
        <a href="https://www.utsc.utoronto.ca/cms/computer-science-1"><img class = "smallview" src="{{ url_for('static', filename='images/crest.png') }}" alt="school crest"></a>

    </footer>

<body>
</html>
